.navbar,
.left-sidebar {
	background: $chrome-color !important;
	position: fixed !important;
	z-index: 100000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
}

.left-sidebar ul {
	padding: initial;
}

.navbar-inner {
	box-shadow: none;
}

.top-nav a:before,
.left-sidebar a:before {
	text-decoration: none;
	font-size: 30px;
	color: $primary-color;
}

.top-nav a:hover:before,
.left-sidebar a:hover:before {
	color: $secondary-color;
}

.brand,
.top-nav a:before,
.left-sidebar a:before {
	transition: color .2s ease-in-out;
	font-weight: bold;
}
