body,
.navbar,
.left-sidebar {
	background: $chrome-color !important;
}

.navbar,
.left-sidebar {
	position: fixed !important;
	z-index: 100000;
}

.left-sidebar ul {
	padding: initial !important;
}

.navbar-inner {
	box-shadow: none;
}

.top-nav a:before,
.left-sidebar a:before {
	text-decoration: none;
	font-size: 30px;
	color: $primary-color;
}

.top-nav a:hover:before,
.left-sidebar a:hover:before {
	color: $secondary-color;
}

.brand,
.top-nav a:before,
.left-sidebar a:before {
	transition: color .2s ease-in-out;
}
