.navbar,
.left-sidebar {
	@include apply-theme(chrome, background, true);
	position: fixed !important;
	z-index: 100000;
}

.left-sidebar {
	height: 100%;
}

.left-sidebar ul {
	padding: initial !important;
}

.navbar-inner {
	box-shadow: none;
}

.top-nav a::before,
.left-sidebar a::before {
	text-decoration: none;
	font-size: 30px;
	@include apply-theme(primary, color);
}

.top-nav a:hover::before,
.left-sidebar a:hover::before {
	@include apply-theme(secondary, color);
}

.brand,
.top-nav a::before,
.left-sidebar a::before {
	transition: color .2s ease-in-out;
}
