#top-nav {

	// Make all icons/text white
	* {
		color: #fff;
	}

	// Remove the decoration behind the term name
	.term {
		background: none;
	}

	// Hide back/forward buttons
	.go-back-btn,
	.go-forward-btn,
	img[src="images/diary/top-nav-home-separator.png"] {
		display: none;
	}

	a {
		text-decoration: none;
		font-size: 30px;

		&:hover {
			color: $aqua !important;
		}
	}

	// Home icon
	[href="#content/school/toc"] {
		@include replace-icon($fa-var-home);
	}

// Next week icons
	[href="#nav-week-next"] {
		margin-right: 40px;
		@include replace-icon($fa-var-forward);
	}

	// Previous icon
	.previous {
		@include replace-icon($fa-var-arrow-left);
	}

	// Next icon
	.next {
		@include replace-icon($fa-var-arrow-right);
	}

}
