#top-nav {

	* {
		color: #fff !important;
	}

	.term {
		background: none;
	}

	i {
		vertical-align: middle;
		font-size: 30px;
	}

	img[src="images/diary/top-nav-home-separator.png"] {
		visibility: hidden;
	}

}
