
%replace-icon {
	&:before {
		@extend .#{$fa-css-prefix};
	}

	img {
		display: none;
	}
}


%top-nav-icon {
	@extend %replace-icon;

	&:before {
		font-size: 30px;
	}
}

@mixin top-nav-icon($var) {
	@extend %top-nav-icon;

	&:before {
		content: $var;
	}
}
